.root {
    main-color: rgb(209, 244, 243);       /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: main-color;
}

.text-field {
    -fx-background-color: rgb(149, 223, 221);
    -fx-font: 16px "Gill Sans";
}

.button {
    -fx-background-color: rgb(177, 240, 238);
    -fx-font: italic bold 16px "Gill Sans";
}

.button:hover {
    -fx-background-color: rgb(149, 223, 221);
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color: rgb(96, 209, 212);
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: rgb(209, 244, 243);
}

.scroll-bar .thumb {
    -fx-background-color: rgb(96, 209, 212);
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}
